<nav class="navbar">
  <div class="left-section">
    <div class="menu-icon" (click)="toggleMenu()">
      &#9776;
    </div>
    <div class="nav-links" [class.active]="menuOpen">
      <a [routerLink]="['/dashboard']" *ngIf="isAuthenticated">Rozkazy</a>

      <div class="nav-item" (mouseenter)="menuOpen = true" (mouseleave)="menuOpen = false">
        <a [routerLink]="['/mod-dashboard']" *ngIf="authService.isModerator()">Panel Mod</a>
        
        <div class="submenu" *ngIf="menuOpen">
          <a [routerLink]="['/mod-dashboard/option1']">Option 1</a>
          <a [routerLink]="['/mod-dashboard/option2']">Option 2</a>
          <a [routerLink]="['/mod-dashboard/option3']">Option 3</a>
        </div>
      </div>
      

     
    </div>
  </div>

  <div class="center-logo">
    <img src="./assets/logo.png" alt="Logo" />
  </div>
  
  

  <div class="right-section" [class.active]="menuOpen">
    <a href="javascript:void(0)" *ngIf="isAuthenticated" (click)="logout()">Log out</a>
    <a href="/login" *ngIf="!isAuthenticated">Log in</a>
  </div>
</nav>
