<div class="login-container">
  <h1><span>TRIBAL</span><span>WARS</span></h1>
  <div class="planner-text">PLANNER</div>

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <input matInput formControlName="username" placeholder="login" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput type="password" formControlName="password" placeholder="password"/>

      </mat-form-field>

      <button mat-raised-button color="primary">Login</button>
    </form>
     <button mat-raised-button color="primary" (click)="signIn()">Sign in</button>
  </div>
</div>
